<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466322679407-v4nupe5uqrs31r2269h9v6m9o5tse6bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466322679407-v4nupe5uqrs31r2269h9v6m9o5tse6bb</string>
	<key>API_KEY</key>
	<string>AIzaSyCoPXJdEsQ_Ct2jbvd1OwaSAjOa2bHVn-8</string>
	<key>GCM_SENDER_ID</key>
	<string>466322679407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp2</string>
	<key>PROJECT_ID</key>
	<string>flutter-classroom-48dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-classroom-48dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466322679407:ios:2abb1db6e8c3b1b1c98f9a</string>
</dict>
</plist>